<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Rock Paper Scissors</title>
        <link rel="stylesheet" href="public/css/style.css" type="text/css">
    </head>
    <body>
        <header>
            <h1>Rock Paper Scissors</h1>
        </header>
        
        <div class="choices">
            <div class="ai-choice" id="ai_choice">
                <% if(res !== null){ %>
                    <img src="public/images/rock.png" alt="">
                <% } else { %>
                    <img src="public/images/rock.png" style="visibility: hidden;" alt="">
                <% } %>    
            </div>
        </div>

        
        <div class="score-board">
            <div id="usr" class="badge">You</div>
            <div id="ai" class="badge">AI</div>
            <span id="usr_score" >0</span>:<span id="ai_score" >0</span>
        </div>
        

        <div class="res">
            <p>
            <% if(res !== null){ %>
                <%= res %>
            <% } else { %>
                Choose your weapon!
            <% } %>
            </p>
        </div>

        <div class="choices">
            <form action="/send" method="post">
                <div class="choice" id="rock">
                    <input type="image" src="public/images/rock.png" value="rock">
                </div>
                <div class="choice" id="paper">
                    <input type="image" src="public/images/paper.png" value="paper">
                </div>
                <div class="choice" id="scissors">
                    <input type="image" src="public/images/scissors.png" value="scissors">
                </div>
            </form>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io('http://localhost');
            socket.on('news', function (data) {
                console.log(data);
                socket.emit('my other event', { my: 'data' });
            });
        </script>
    </body>
</html>